@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 284 100% 96%;
    --foreground: 274 100% 92%;
    --card: 274 100% 92%;
    --card-foreground: 240 33% 1%;
    --popover: 274 100% 92%;
    --popover-foreground: 240 33% 1%;
    --primary: 261 100% 70%;
    --primary-foreground: 240 33% 1%;
    --secondary: 274 100% 92%;
    --secondary-foreground: 240 33% 1%;
    --muted: 274 100% 92%;
    --muted-foreground: 240 33% 20%;
    --accent: 261 100% 70%;
    --accent-foreground: 240 33% 1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 240 33% 1%;
    --border: 274 100% 85%;
    --input: 274 100% 85%;
    --ring: 261 100% 70%;
    --radius: 0.5rem;

    /* Sidebar specific variables */
    --sidebar-background: 284 100% 96%;
    --sidebar-foreground: 240 33% 1%;
    --sidebar-primary: 261 100% 70%;
    --sidebar-primary-foreground: 240 33% 1%;
    --sidebar-accent: 261 100% 70%;
    --sidebar-accent-foreground: 240 33% 1%;
    --sidebar-border: 274 100% 85%;
    --sidebar-ring: 261 100% 70%;
  }

  .dark {
    --background: 0 0% 12%;
    --foreground: 0 0% 24%;
    --card: 0 0% 24%;
    --card-foreground: 260 100% 98%;
    --popover: 0 0% 24%;
    --popover-foreground: 260 100% 98%;
    --primary: 261 100% 70%;
    --primary-foreground: 260 100% 98%;
    --secondary: 0 0% 24%;
    --secondary-foreground: 260 100% 98%;
    --muted: 0 0% 24%;
    --muted-foreground: 260 100% 80%;
    --accent: 261 100% 70%;
    --accent-foreground: 260 100% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 260 100% 98%;
    --border: 0 0% 24%;
    --input: 0 0% 24%;
    --ring: 261 100% 70%;

    /* Sidebar specific variables */
    --sidebar-background: 0 0% 12%;
    --sidebar-foreground: 260 100% 98%;
    --sidebar-primary: 261 100% 70%;
    --sidebar-primary-foreground: 260 100% 98%;
    --sidebar-accent: 261 100% 70%;
    --sidebar-accent-foreground: 260 100% 98%;
    --sidebar-border: 0 0% 24%;
    --sidebar-ring: 261 100% 70%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
